<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="icon" href="../images/pencil-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
  </head>

  <nav>
    <div class="leftNav">
      <a id="banner" href="/">The Blog App</a>
    </div>
    <div class="rightNav">
      <a class="navLink" href="/signup">Sign up</a>
      <% if current_user %>
        <a class="navLink" href="/logout">Log Out</a>
      <% else %>
        <a class="navLink" href="/login">Log In</a>
      <% end %>
      <a class="navLink" href="/newPost">New Post</a>
      <a class="navLink" href="/show/<%= session[:user_id] %>/profile">Profile</a>
    </div>
  </nav>

  <body>
    <div class="container">
      <h3>
          <% if current_user %>
             Thanks for using The Blog App, <%= current_user.name  %>!
          <% end %>
      </h3>

      <%=yield%>
    </div>
  </body>
</html>
