<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="icon" href="../images/pencil-icon.png">
  </head>

  <nav>
    <h2 id="banner"><a href="/">The Blog App</a></h2>
    <a href="/profile">Profile</a>
    <a href="/newPost">New Post</a>
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
  </nav>

  <body>
    <div class="container">
      <%=yield%>
    </div>
  </body>
</html>
