<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="icon" href="../images/pencil-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
  </head>

  <nav>
    <div class="leftNav">
      <a id="banner" href="/">The Blog App</a>
    </div>
    <div class="rightNav">
      <a class="navLink" href="/signup">Sign up</a>
      <a class="navLink" href="/login">Login</a>
      <a class="navLink" href="/newPost">New Post</a>
      <a class="navLink" href="/profile">Profile</a>
      <form action="/logout" method='post'>
        <input type="submit" value="Logout">
      </form>
    </div>
  </nav>

  <body>
    <div class="container">
      <%=yield%>
      <h3>
		      <% if current_user %>
			       <%= current_user.name  %>
		      <% end %>
	    </h3>
    </div>
  </body>
</html>
