<form method="post" action="/create-user">
  Username: <input type='text' name='username'>
  Password: <input type='text' name='password'>
  Birthdate: <input type='text' name='birthdate'>
  <input type="submit" name="">
</form>
