<h1>Signup</h1>
<form method="post" action="/create-user">
  Username: <input type='text' name='username'>
  Password: <input type='text' name='password'>
  Birthdate: <input type='text' name='birthdate' placeholder="00/00/0000">
  <input type="submit" name="">
</form>
